.icon {
   color: red;
   font-size: 30px;
}

.block {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   & h5 {
      color: #461E0D;
      font-weight: bold;
      font-size: 1.5rem;
   }
}

@media (min-width: 320px) {
   .block {
      display: flex;
      justify-content: center;
      h5 {
         font-size: 1.3rem;
      }
   }
}

@media (min-width: 1024px) {
   .block {
      display: flex;
      justify-content: center;
      h5 {
         font-size: 1.8rem;
      }
   }
}