.container {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   gap: 1rem;
   padding-top: 2rem;
}

.TextBlock {
   width: 40%;
   & h3 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.9rem;
   }
}

.mtext {
   color: #77838f;
   margin-bottom: 2rem;
}

.icon {
   font-size: 18px;
   color: red;
}

.list {
   list-style: none;
   display: flex;
   padding: 0;
   gap: 1.5rem;
   margin-top: 2rem;
}

@media (min-width: 320px) {
   .container {
      flex-direction: column;
   }

   .TextBlock {
      width: 100%;
   }
}

@media (min-width: 480px) {
   .container {
      flex-direction: column;
   }

   .TextBlock {
      width: 100%;
   }
}

@media (min-width: 768px) {
   .container {
      flex-direction: column;
   }
   .TextBlock {
      width: 100%;
   }
}

@media (min-width: 1024px) {
   .container {
      flex-direction: row;
   }
   .TextBlock {
      width: 50%;
   }
}

@media (min-width: 1200px) {

}