.swiper {
   width: 720px;
   height: 100%;
}


.main {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 0 auto;
}

@media (min-width: 320px) {
   .swiper {
      width: 300px;
   }
}

@media (min-width: 480px) {
   .main {
      flex-direction: column;
      align-items: center;
   }

   .swiper {
      width: 540px;
      margin-top: 1rem;
   }
}

@media (min-width: 768px) {
   .main {
      flex-direction: column;
      align-items: center;
   }

   .swiper {
      width: 720px;
      margin-top: 1rem;
   }
}

@media (min-width: 1024px) {
   .main {
      flex-direction: row;
      width: 960px;
   }
   .swiper {
      width: 580px;
   }
}

@media (min-width: 1280px) {

}