.map {
   flex: 1;
   padding-top: 2.5rem;

   iframe {
      width: 580px;
      height: 340px;
      border: none;
   }
}

@media (max-width: 1200px) {
   .map {
      height: 400px;
      padding-top: 1.5rem;

      iframe {
         width: 730px;
      }
   }
}

@media (max-width: 768px) {
   .map {
      height: 300px;
      padding-top: 1rem;

      iframe {
         width: 510px;
      }
   }
}

