.priceBlock {
   flex: auto;
   width: 640px;
}

.nothing {
   width: 44%;
}

.price_item {
   display: flex;
   flex-direction: row;
   justify-content: unset;
   align-items: center;
   width: 550px;
   border-radius: 5px;
   padding: 17px 20px;
   &:nth-child(2n) {
      background-color: #f4f4f4;
   }
   p {
      margin: 0;
   }
}

.price_item1 {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 550px;
   border-radius: 5px;
   padding: 17px 20px;
   p {
      width: 18%;
      margin: 0;
   }
}

.price {
   width: 18%;
   font-size: 1.25rem;
   font-weight: 400;
}

.test {
   p {
      display: flex;
      flex-direction: row;
   }
}

@media (min-width: 320px) {
   .priceBlock {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
   }

   .nothing {
      font-size: 0.7rem;
      width: 47%;
      margin-bottom: 10px;
   }

   .price_item {
      width: 280px;
   }

   .price_item1 {
      width: 280px;
      font-size: 0.7rem;
      p {
         width: 18%;
      }
   }

   .price {
      width: 18%;
      font-size: 0.7rem;
   }

   .test {
      p {
         flex-direction: column;
         text-align: center;
      }
   }
}

@media (min-width: 480px) {
   .priceBlock {
      width: 460px;
   }

   .test {
      p {
         flex-direction: column;
      }
   }
}

@media (min-width: 768px) {
   .priceBlock {
      width: 720px;
   }

   .price {
      font-size: 1rem;
   }

   .price_item {
      width: 550px;
   }

   .price_item1 {
      width: 550px;
      font-size: 1rem;
      p {
         width: 18%;
      }
   }

   .nothing {
      width: 44%;
      font-size: 1rem;
   }
}

@media (min-width: 1024px) {
   .priceBlock {
      width: 540px;
   }

   .price_item {
      width: 420px;
   }

   .price_item1 {
      width: 420px;
      p {
         width: 18%;
      }
   }

   .nothing {
      width: 44%;
   }
}

@media (min-width: 1280px) {
   .price_item {
      width: 550px;
   }

   .price_item1 {
      width: 550px;
   }
}