.priceBlock {
   flex: auto;
   width: 540px;
}

.nothing {
   width: 50%;
}

.price_item {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 500px;
   border-radius: 5px;
   padding: 10px 13px;
   &:nth-child(2n) {
      background-color: #f4f4f4;
   }
}

.price_item1 {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 500px;
   border-radius: 5px;
   padding: 10px 13px;
   p {
      width: 16%;
   }
}

.price {
   width: 16%;
}

.test {
   p {
      display: flex;
      flex-direction: row;
   }
}

@media (max-width: 768px) {
   .test {
      p {
         flex-direction: column;
      }
   }
}

@media (max-width: 1200px) {
   .priceBlock {
      width: 700px;
   }
   .price_item {
      width: 674px;
   }
   .price_item1 {
      width: 674px;
   }
}