.serviceBottom {
      display: flex;
      justify-content: space-between;
}

@media (max-width: 1200px) {
      .serviceBottom {
            flex-direction: column;
            align-items: center;
      }
}